<!DOCTYPE html>
<html lang="{{.CurrentLang}}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{i18n .Lang "title.torrent"}} - {{i18n .Lang "global.title"}}</title>
    <meta name="description" content="{{i18n .Lang "title.torrent"}}">
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.min.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="home">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{i18n .Lang "global.title"}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/new"><i class="glyphicon glyphicon-fire"></i> {{i18n .Lang "menu.new"}}</a></li>
                <li><a href="/magnet"><i class="glyphicon glyphicon-magnet"></i> {{i18n .Lang "menu.magnet"}}</a></li>
                <li class="active"><a href="/torrent"><i class="glyphicon glyphicon-upload"></i> {{i18n .Lang "menu.torrent"}}</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-globe"></i> Language <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a onclick="javascript:changeLanguage('en-US');">English</a></li>
                        <li><a onclick="javascript:changeLanguage('zh-TW');">繁體中文</a></li>
                        <li><a onclick="javascript:changeLanguage('zh-CN');">简体中文</a></li>
                        <li><a onclick="javascript:changeLanguage('ja-JP');">日本語</a></li>
                        <li><a onclick="javascript:changeLanguage('ko-KR');">한국어</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <div class="search">
                <h1><span class="glyphicon glyphicon-upload"></span> {{i18n .Lang "torrent.h1"}}</h1>
                <div class="alert alert-warning msg text-center">{{i18n .Lang "torrent.intro"}}</div>
                <div class="text-center">
                    <div class="magnet-wrapper">
                        <form action="/torrent" id="magnet2TorrentForm" method="post">
                            <input id="magnetLinkInput" type="text" value="{{i18n .Lang "torrent.key"}}" name="magnetLinkInput" onclick="jQuery(this).select();">
                            <input type="hidden" id="magnetLink" name="magnetLink">
                        </form>
                    </div>
                    <div class="alert alert-danger text-center"><b>{{i18n .Lang "torrent.error"}}</b>{{i18n .Lang "torrent.msg"}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="home-footer">
    <p>Copyright &copy;2015 <a href="/">{{i18n .Lang "global.title"}}</a>. All Rights Reserved.</p>
</footer>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/common.js"></script>
<script>
$(function(){
    $('.alert-danger').hide();

    $('#magnetLinkInput').on('focus', function(){
        if($('#magnetLinkInput').val() == '{{i18n .Lang "torrent.key"}}'){
            $('#magnetLinkInput').val('');
        }
    });

    $('#magnetLinkInput').bind('propertychange', function(){
        if($('#magnetLinkInput').val() != ''){
            var magnetLink = $('#magnetLinkInput').val();
            if(magnetLink.toLowerCase().match(/^magnet:\?xt=urn\:btih\:.+/i) != null){
                $('#magnetLink').val(magnetLink);
                $('.alert-danger').hide();
                $("#magnetLinkInput").animate({backgroundColor:'#7EB80E',borderBottomColor:'#7EB80E',borderLeftColor:'#7EB80E',borderRightColor:'#7EB80E',borderTopColor:'#7EB80E'});
                $('#magnetLinkInput').val('Converting');
                $('#magnetLinkInput').prop('readonly',true);
                $('#magnet2TorrentForm').submit();
            }else{
                $('.alert-danger').show();
            }
        }
    });

    $('#magnetLinkInput').bind('input', function(){
        if($('#magnetLinkInput').val() != ''){
            var magnetLink = $('#magnetLinkInput').val();
            if(magnetLink.match(/^magnet:\?xt=urn\:btih\:.+/i) != null){
                $('#magnetLink').val(magnetLink);
                $('.alert-danger').hide();
                $("#magnetLinkInput").animate({backgroundColor:'#7EB80E',borderBottomColor:'#7EB80E',borderLeftColor:'#7EB80E',borderRightColor:'#7EB80E',borderTopColor:'#7EB80E'});
                $('#magnetLinkInput').val('Converting');
                $('#magnetLinkInput').prop('readonly',true);
                $('#magnet2TorrentForm').submit();
            }else{
                $('.alert-danger').show();
            }
        }
    });
});
</script>
</body>
</html>
